<%- include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/shop-checkout-address.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>UL</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/user/img/logos/ULfavicon.jpg">
    <link rel="apple-touch-icon" href="user/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="user/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="user/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="user/css/plugins.css">

    <!-- theme core css -->
    <link href="user/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="fixed header-light-nav">

         

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-dark">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container-fluid p-0">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <!-- category toggler -->
                                    <a href="#" id="trigger" class="menu-trigger"><i class="ti-menu"></i></a>
                                    <!-- end category toggler -->

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                           
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/userhome">Home</a>
                                          
                                        </li>
                                      
                                        </li>
                                        <li><a href="#">Account</a>
                                            <ul>
                                                <%if(user == false){%>
                                          
                                                    <li><a href="/logout">logout</a></li>
                                            <%}else{%>
                                                <li><a href="/login">login</a>
                                                
                                               
                                            <%}%>
                                                <!-- <li><a href="adfs">Password Recovery</a></li> -->
                                                <li><a href="/orderlist">Orders List</a></li>
                                                <li><a href="/whishlist">Wishlist</a></li>
                                                <li><a href="/userprofile">Profile Page</a></li>
                                                <!-- <li><a href="account-address.html">Contact / Shipping Address</a></li> -->
                                                <!-- <li><a href="account-tickets.html">My Tickets</a></li>
                                                <li><a href="account-single-ticket.html">Single Ticket</a></li> -->
                                            </ul>
                                        </li>
                                        
                                        
                                        <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="/shop">Shop Categories</a></li>
                                            </ul>
                                        </li>
                                       
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-dark">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                  
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-03.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Heel Character Shoes</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-dark">
                                                        <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                        <a href="" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
        
        <!-- CATEGORY MP-MENU
        ================================================== -->
      

        <!-- PAGE TITLE
        ================================================== -->
        
        
        <!-- CHECKOUT
        ================================================== -->
       
        <section class="md">
            <div class="container">
                <div class="col-12">
                    <div class="process-steps mb-1-9 mb-lg-6">
                        <a class="step active" href=""><i class="ti-direction-alt"></i><h4 class="step-title">Checkout</h4></a>
                    </div>
                      </div>
                <div class="row"> 
                    <div class="col-lg-7">
                    <div id="accordion" class="accordion-style3">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                 <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5>  Have a coupon?</h5>
                               
                                    </button>
                              </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Enter Your Coupon Code</label>
                                                <input type="text" class="form-control" name="couponcode" placeholder="Enter Your Coupon Code" id="code">
                                            </div>

                                        </div>

                                    </div>

                                    <button type="button" class="butn-style2 small" name="couponcode" onclick="applyCoupon($('#code').val())" >Apply Code</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
          
                    <form action="" id="checkout-form">
                        <input type="hidden" name="couponDiscount" id="discount1" value="">
                        <input type="hidden" name="total1" id="total1" value="">
                        <input type="hidden" name="couponC" id="code" value="">

                              <!-- left pannel section -->
                              <div class="col-12">
                                <div class="common-block">
                                    <div class="inner-title">
                                        <h4 class="mb-0">Billing Address</h4>
                                    </div>
                                    <div class=" ">
                                        <%if(address==null){ %>
                                        <%}else{ %>
                                        <% address.userAddresses.forEach((value,index)=> { %>
                                        <label>
                                            <input type="radio" name="address" value="<%= index%>" required>
                                            <div class="mb-3 ms-5">
                                                <span>
                                                    <%= value.fullname%><br>
                                                    <%= value.mobileNumber %> <br>
                                                    <%= value.houseAddress %>, ,<%= value.landMark %> <br>
                                                    <%= value.cityName %>,<%= value.state %> <br>
                                                    <%= value.pincode %>
                                                </span>
                                            </div>
                                        </label>
                                        <br>
                                        <hr>
                                        <% } ) }%>
                                        <div>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                Add Address
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                    <!-- end left pannel section -->
                                                    
                                                 <!-- right pannel section -->
                                              <div class="col-lg-5 col-12 side-bar">

                         <div class="widget">

                            <div class="widget-title">
                                <h5>Order Summary</h5>
                               </div>
                                 
                            <table class="table ">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% userData.cart.forEach((cart, index) => { %>
                                        <tr>
                                          <th scope="row"></th>
                                          <td><%= cart.productId ? cart.productId.productname : '' %></td>
                                          <td>x<%= cart.qty %></td>
                                          <td>₹<%= cart.productTotalprice %></td>
                                        </tr>
                                      <% }) %>
                                      
                                  <tr>
                                    <th scope="row"></th>
                                    <td colspan="2">Subtotal</td>
                                    <td>₹<%= userData.cartTotalPrice %></td>
                                  </tr>
                                  <th scope="row"></th>
                                   
                                    </td>
                                    <td></td>
                                  <tr>
                                    <th scope="row"></th>
                                    <td colspan="2">Discount</td>
                                    <td id="discount"></td>
                                    <P id="discount1"></P>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td colspan="2">Total</td>
                                    <td id="total" >₹<%= userData.cartTotalPrice%></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>

                        <div class="widget">

                            <div class="widget-title">
                                <h5>Please Choose your payment method</h5>
                            </div>

                            <div class="d-flex mb-4">
                                
                                <div class="flex-grow-1 ms-3">
                                    <h6 class="display-30 font-weight-600 mb-2"> Hi there you can choose online payment<span class="text-medium"> </span> </h6>

                                    <div class="form-check">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment" id="flexRadioDefault2" checked value="Online Payment">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                              You can choose your card 
                                            </label>
                                          </div>

                                        <ul class="list-style-17 mb-4">
                                            <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                            <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                            <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                            <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                
                                <div class="flex-grow-1 ms-3">
                                    <div class="card-body">

                                        <h6 class="display-30 font-weight-600 mb-2">You can choose cash on delivery <span class="text-medium"> </span> </h6>
    
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment" id="flexRadioDefault1" value="COD">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              COD you can trustly choose this method also
                                            </label>
                                            
                                          </div>
                                        
                                    </div>
                                </div>
                              
                            </div>
                            <div class="d-flex">
                                
                                <div class="flex-grow-1 ms-3">
                                    <div class="card-body">

                                        <h6 class="display-30 font-weight-600 mb-2">Wallet <span class="text-medium"> </span> </h6>
    
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment" id="flexRadioDefault1" value="WALLET">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                              Wallet payment method 
                                            </label>
                                            <h5>₹<%= userData.wallet%></h5><span><p>existing amount in your waller</p></span>
                                            <% if ( userData.cartTotalPrice<userData.wallet) {%>
                                            <p style="color: green;">wallet affordable</p>
                                            <% } else{%>
                                            <p style="color: red;">Not Wallet affordable</p>
                                            <%}%>
                                          </div>
                                        
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                           
                            <button class="btn btn-dark" type="submit" >Place Order</button>
                          </div>
                    </div>
                     
                </form>
                    <!-- end right pannel section -->
                    
                  <!-- left pannel section -->  
                    <!-- end left pannel section -->            
                </div>
            </div>
        </section>
       
        
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> Smartshop is Powered by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-dark"></a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

              <!-- Modal -->
           <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add Address</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/add-checkout-address" method="post">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Full name:</label>
                        <input type="text" class="form-control" id="recipient-name" name="fullname" placeholder="Enter your name">
                      </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Mobile Number:</label>
                        <input type="text" class="form-control" id="recipient-name" name="number" placeholder="Enter mobile number">
                      </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Home Address:</label>
                        <input type="text" class="form-control" id="recipient-name" name="houseAddress" placeholder="Address">
                      </div>
                    <!-- <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Street Address:</label>
                        <input type="text" class="form-control" id="recipient-name" name="streetAdress" placeholder="Enter street address">
                      </div> -->
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">State:</label>
                        <input type="text" class="form-control" id="recipient-name" name="state" placeholder="State">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">town/City:</label>
                        <input type="text" class="form-control" id="recipient-name" name="city" placeholder="Town">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">LandMark:</label>
                        <input type="text" class="form-control" id="recipient-name" name="landmark" placeholder="Landmark">
                      </div>
                      <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Pincode</label>
                        <input type="text" class="form-control" id="recipient-name" name="zip" placeholder="Pincode">
                      </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-dark" >Save Address</button>
                      </div>
                    
                  </form>
                </div>
               
              </div>
            </div>
          </div>


        </footer>
        
    </div>
    <script>
        function applyCoupon(code) {
          console.log(code);
          console.log("Applying coupon...");
          
          $.ajax({
            url: "/couponapply",
            data: {
              code: code,
            },
            method: "post",
            success: function (response) {
              console.log("Coupon applied response:", response);
              if (response.datefailed) {
                console.log("Coupon expired.");
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Coupon expired.",
                });
              } else if (response.minimum) {
                console.log("Purchase amount does not meet the minimum requirement for the coupon.");
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Purchase amount does not meet the minimum requirement for the coupon.",
                });
              } else if (response.used) {
                console.log("Coupon already used.");
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Coupon already used.",
                });
              } else if(response.invalid) {
                console.log("Coupon invalid.");
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Entered invalid Coupon .",
                });
              } else if (response.limit) {
                console.log("Coupon limit exceeded.");
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: "Coupon limit exceeded.",
                });
              } else if (response.amountokey) {
                console.log("Coupon granted.");
                document.getElementById('code').value = response.code
                document.getElementById('discount').innerHTML = response.discountValue
                document.getElementById('discount1').value = response.discountValue
                document.getElementById('total').innerHTML = response.value
                document.getElementById('total1').value = response.value
                console.log('DONE');
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Coupon granted!",
                  text: "You have successfully applied the coupon.",
                  showConfirmButton: true,
                });
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.error("Error applying coupon:", errorThrown);
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong. Please try again later.",
              });
            },
          });
        }
        </script>
    <script>
 
  
        $("#checkout-form").submit((e)=>{
          console.log("working sumbition");
            e.preventDefault()
            // const discount = document.getElementById('discountAmount').innerHTML
            // console.log(discount,"here")
            $.ajax({
                url:'/placeorder',
                method:'post',
                data:$('#checkout-form').serialize(),
                
                success:(response) =>{
                    if(response.status){
                        setTimeout(() => {
                            window.location.href = '/ordersuccess'
                            console.log(response)
                        }, 1000)
                    }else{
                    razorpayPayment(response)
                    console.log(response,"response from razorpayment");
                }
                    
                }
            })
        })
    </script>
    
    <script>
        function razorpayPayment(order){
          console.log("in razor");
          var options = {
          "key": "rzp_test_3DKe7UyJnOTRnj", // Enter the Key ID generated from the Dashboard
          "amount": order.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "vivek mn", //your business name
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
          "prefill": {
              "name": "Gaurav Kumar", //your customer's name
              "email": "gaurav.kumar@example.com",
              "contact": "9000090000"
          },
          "notes": {
              "address": "Razorpay Corporate Office"
          },
          "theme": {
              "color": "#3399cc"
          },
                  "handler": function (response) {
                    console.log(response);
                    console.log(order.order);
                      verifyPayment(response, order.order);
                  }
              };
              if (typeof Razorpay !== 'undefined') {
                console.log(options);
              var rzp1 = new Razorpay(options);
              rzp1.open()
}else{

    console.log('errro');
}
            
        }
      </script>
     <script>
        function verifyPayment(payment,order){
            console.log("from verifyPayment");
                $.ajax({
                    url:'/verifypayment',
                    data:{
                        payment,
                        order
                    },
                    method:'post',
                    success:(response)=>{
                        console.log(response);
                        if(response.status){
                            window.location.href = '/ordersuccess'
                        }else{
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Payment failed',
                                showConfirmButton: false,
                                timer: 2000
                            })
                            // alert('Your Product Deleted from Cart')
                            // setTimeout(() => {
                            //     location.reload()
                            // }, 1200);
                            // window.location.href = '/ordersuccess'
                        }
                    }
                })
            }
        </script>
        
      
   
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="user/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="user/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="user/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="user/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="user/js/main.js"></script>
	
	<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-checkout-address.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
</html>
<%- include('../layouts/footer.ejs') %>