<%- include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>UL</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/user/img/logos/ULfavicon.jpg">
    <link rel="apple-touch-icon" href="/user/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/user/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/user/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/user/css/plugins.css">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="/user/css/rev_slider/settings.css">
    <link rel="stylesheet" href="/user/css/rev_slider/layers.css">
    <link rel="stylesheet" href="/user/css/rev_slider/navigation.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


    <!-- theme core css -->
    <link href="/user/css/styles-3.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <!-- <div id="preloader"></div> -->

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="menu_area-light header-light-nav header-02">

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="/search" method="post">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white"
                                        type="submit"></button>
                                </span>
                               <input type="text" class="search-form_input form-control" name="s" id="search-input" autocomplete="off" placeholder="Type & hit enter...">
                                    
                                <span class="input-group-addon close-search"><i
                                        class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <!-- <a href="home-shop-1.html" class="navbar-brand logodefault"><img id="logo" src="user/img/logos/logo-color3.png" alt="logo"></a> -->
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/userhome" style="color: black;">Home</a>
                                          
                                        </li>
                                      
                                        </li>
                                        <li><a href="#"style="color: black;" >Account</a>
                                            <ul>
                                                <%if(user == false){%>
                                          
                                                    <li><a href="/logout">logout</a></li>
                                            <%}else{%>
                                                <li><a href="/login">login</a>
                                                
                                               
                                            <%}%>
                                               
                                                <li><a href="/orderlist">Orders List</a></li>
                                                <li><a href="/whishlist">Wishlist</a></li>
                                                <li><a href="/userprofile">Profile Page</a></li>
                                               
                                            </ul>
                                        </li>
                                        
                                        
                                        <li><a href="#" style="color: black;">Shop</a>
                                            <ul>
                                                <li><a href="/shop">Shop Categories</a></li>
                                            </ul>
                                        </li>
                                       
                                    </ul>



                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="/listcart" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-primary">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">                                                   
                                                    
                                                    <li class="total bg-primary">
                                                        
                                                        <a href="/listcart" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                            <li class="heart"> <a href="/whishlist"><i class="ti-heart"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>

                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <!-- <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-primary">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-01.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Men's Football Boots </a></h6>
                                                        <p>2x - <span class="price">$30.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-02.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Sun Protection Cap</a></h6>
                                                        <p>1x - <span class="price">$10.20</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="user/img/products/cart-thumbs/cart-thumb-03.jpg" class="cart-thumb" alt="..." /></a>
                                                        <h6><a href="#">Heel Character Shoes</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-primary">
                                                        <span class="float-start"><strong>Total</strong>: $79.20</span>
                                                        <a href="shop-cart.html" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#"><i class="ti-search"></i></a></li>
                                        </ul>
                                    </div> -->
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>
        
        <!-- CATEGORY MP-MENU
        ================================================== -->
       

        <!-- PAGE TITLE
        ================================================== -->
        
        
        <!-- PRODUCT COLUMN THREE
        ================================================== -->
        <section class="md">
            <div class="container">

                <div class="row g-0 align-items-center bg-light rounded p-3 mb-1-9">

                            <div class="col-12 col-md my-1 my-md-0 text-center text-md-start font-weight-600">Showing 1–9 of 27 results</div>

                            <div class="col-12 col-md-auto">

                                <div class="row justify-content-center">

                                    <div class="col-auto my-1 my-md-0">
                                        <label class="m-0">Show:</label>
                                        <select class="w-auto d-inline-block form-select">
                                            <option value="#?limit=24" selected="selected">24</option>
                                            <option value="#?limit=25">25</option>
                                            <option value="#?limit=50">50</option>
                                            <option value="#?limit=75">75</option>
                                            <option value="#?limit=100">100</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="col-md-6 ec-sort-select">
                                            <span class="sort-by">Sort by</span>
                                            <div class="ec-select-inner">
                                                <select name="ec-select" id="ec-select">
                                                    <option selected disabled>Position</option>
                                                    <option value="1">Relevance</option>
                                                    <option value="2">Name, A to Z</option>
                                                    <option value="3">Name, Z to A</option>
                                                    <option value="4">Price, low to high</option>
                                                    <option value="5">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>      

                          
                                    </div>
                                </div>
                        </div>

                <div class="row justify-content-center">
                    <% products.forEach((value,index)=>{%>
                    <div class="col-11 col-sm-6 col-lg-4 col-xl-3 mb-1-9">
                        <div class="product-grid">
                            <div class="product-img">
                                <a href="/productdetail?id=<%= value._id%>"><div class="label-offer bg-red">Sale</div><img style="height: 250;" src="/img/<%= value.image[0] %>" alt="..."></a>
                            </div>
                            <div class="product-description">
                                <h3><a href="/productdetail?id=<%= value._id%>"><%= value.productname%></a></h3>
                                <h4 class="price">
                                                        <span class="regular-price line-through"><%= value.price + value.price %></span>
                                                        <span class="offer-price">₹<%= value.price %></span>
                                                    </h4>
                            </div>
                            <div class="product-buttons">
                                <ul class="ps-0">
                                    <li><a onclick="addToWishlist('<%= value._id%>')" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li>
                                    <li><a onclick="AddToCart('<%= value._id%>')" class="butn-style2" title="Add to Cart">Add to Cart</a></li>
                                    <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%})%>
                  

                <!-- pagination -->
                <div class="pagination text-small text-uppercase text-extra-dark-gray mt-4">
                            <ul>
                                <li><a href="#"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="/shop">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                            </ul>
                        </div>
                <!-- end pagination -->

            </div>
        </section>
        
        <!-- FOOTER
        ================================================== -->
        <footer class="classic-footer bordered">

            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">
                        <h3>Contact Us</h3>
                        <ul class="list-style mb-2 ps-0">
                            <li>
                                <strong>Address:</strong><span class="ps-1">74 Guild Street 542B, Town MT.</span>
                            </li>
                            <li>
                                <strong>Phone: </strong><span class="ps-1">(+44) 123 456 789</span>
                            </li>
                            <li>
                                <strong>Email: </strong><span class="ps-1">addyour@emailhere</span>
                            </li>
                        </ul>

                        <ul class="list-style-two mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-2-3 mb-lg-0">

                        <div class="row">
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>Quick Links</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Our shop</a></li>
                                    <li><a href="#">Secure shopping</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-6 pe-lg-0">
                                <h3>My Account</h3>
                                <ul class="list-style ps-0">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order History</a></li>
                                    <li><a href="#">Wish List</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="ps-lg-1-9">

                            <div class="row">
                                <div class="col-lg-12 col-md-6 mb-1-9">
                                    <h3>News Letter</h3>
                                    <form method="post">
                                        <div class="form-group footer-subscribe">
                                            <input type="email" placeholder="Subscribe with us" id="email" class="form-control">
                                            <a href="#" class="butn-style2"><i class="fas fa-paper-plane display-27 mt-1"></i></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <h3>Download Our Mobile Apps</h3>
                                    <div class="text-start">
                                        <a href="#" class="btn bordered text-start ms-1 ms-md-0 mt-1 mt-md-0 mb-0 mb-lg-2 mb-xl-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-apple display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Download on the</span>
                                            <strong>App Store</strong>
                                            </span>
                                            </span>
                                        </a>

                                        <a href="#" class="btn bordered text-start ms-1 ms-lg-0 ms-xl-1 mt-1 mt-md-0">
                                            <span class="media align-items-center">
                                        <span class="fab fa-google-play display-26 pe-3"></span>
                                            <span class="media-body">
                                            <span class="d-block display-32">Get it on</span>
                                            <strong>Google Play</strong>
                                            </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-bottom py-1-9 mt-6 mt-lg-8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="text-center text-md-start">
                                <p class="mb-0">&copy; <span class="current-year"></span> Smartshop is Powered by <a href="https://www.chitrakootweb.com/" target="_blank" class="text-dark">Chitrakoot Web</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-style-17 text-center text-md-end">
                                <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        
    </div>
    

    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->
    <script>
        function addToWishlist(prodId) {
            $.ajax({
                url: '/addtowhishlist',
                data: {
                    productId: prodId
                },
                method: 'post',
                success: (res) => {
                    if (res.status) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Your product added to wishlist',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'oops...',
                            Text: 'item already exist',
                        })
                    }
                }
            })
        }
    </script>

    <!-- add to cart ajax -->

    <script>
        function AddToCart(Id) {
            $.ajax({
                url: '/add-to-cart',
                data: {
                    productId:Id
                },
                method: 'post',
                success: (res) => {
                    if (res.status) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Your product added to Cart',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'oops...',
                            Text: 'item already exist in cart',
                        })
                    }
                }
            })
        }
    </script>
    
 <script>
    let categoryId;
    const searchInput = document.querySelector("#searchField");
    searchInput.addEventListener("input", (event) => {
      const search = event.target.value;
      const searchValue = search;
      toAjax();
    });
    // Filtering the products
    // $("a.dropdown-item").click(function (e) {
    //   e.preventDefault();
    //   categoryId = $(this).data("category");
    //   toAjax();
    // });
    $(document).ready(function () {
      $("#button1").click(function () {
        categoryId = $("#category :selected").text();
        console.log(categoryId);
        toAjax();
      });
    });
    const sortSelect = document.getElementById("sort");
    sortSelect.addEventListener("change", (event) => {
      const selectedValue = event.target.value;
      toAjax();
    });
    function toAjax(page) {
      $.ajax({
        url: "/viewProduct",
        data: {
          categoryId: categoryId,
          sort: sortSelect.value,
          page: page,
          search: searchInput.value,
          isRender: "true",
        },
        method: "get",
        success: (response) => {
          let html = "";
          for (let i = 0; i < response.pageProducts.length; i++) {
            html += `
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="box pt-3">
                            <div class="card" style="width: 18rem;">
                                <img height="250px" width="100%" src="/productImage/${response.pageProducts[i].image[0]}" alt="">
                                <div class="card-body">
                                    <div class="text-center">
                                        <span>
                                            <h6 class="card-title">${response.pageProducts[i].productName}</h6>Rs.${response.pageProducts[i].price}
                                        </span>
                                        <p class="card-text">${response.pageProducts[i].description}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
          }
          document.getElementById("product").innerHTML = html;
        },
        fail: (error) => {
          console.error(error);
        },
      });
    }
  </script>



    <!-- jQuery -->
    <script src="user/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="user/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="user/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="user/js/core.min.js"></script>

    <!-- custom scripts -->
    <script src="user/js/main.js"></script>
	
	<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/shop-product-full-three-coulmn.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:39 GMT -->
</html>
<%- include('../layouts/footer.ejs') %>