
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>UL</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/user/img/logos/ULfavicon.jpg">
    <link rel="apple-touch-icon" href="/user/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/user/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/user/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="/user/css/plugins.css">

    <!-- revolution slider css -->
    <link rel="stylesheet" href="/user/css/rev_slider/settings.css">
    <link rel="stylesheet" href="/user/css/rev_slider/layers.css">
    <link rel="stylesheet" href="/user/css/rev_slider/navigation.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>


    <!-- theme core css -->
    <link href="/user/css/styles-3.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <!-- <div id="preloader"></div> -->

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        <!-- HEADER
        ================================================== -->
        <header class="menu_area-light header-light-nav header-02">

            <div class="navbar-default">

                <!-- top search -->
                <div class="top-search bg-primary">
                    <div class="container-fluid">
                        <form class="search-form" action="#" method="GET">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search display-27 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times display-27 mt-2"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center g-0">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- logo -->
                                        <!-- <a href="home-shop-1.html" class="navbar-brand logodefault"><img id="logo" src="user/img/logos/logo-color3.png" alt="logo"></a> -->
                                        <!-- end logo -->
                                    </div>

                                    <!-- menu toggler -->
                                    <div class="navbar-toggler"></div>
                                    <!-- end menu toggler -->

                                    <!-- menu area -->
                                    <ul class="navbar-nav mx-auto" id="nav" style="display: none;">

                                        <li><a href="/userhome">Home</a>
                                          
                                        </li>
                                      
                                        </li>
                                        <li><a href="#">Account</a>
                                            <ul>
                                                <%if(user == false){%>
                                          
                                                    <li><a href="/logout">logout</a></li>
                                            <%}else{%>
                                                <li><a href="/login">login</a>
                                                
                                               
                                            <%}%>
                                                <!-- <li><a href="adfs">Password Recovery</a></li> -->
                                                <li><a href="/orderlist">Orders List</a></li>
                                                <li><a href="/whishlist">Wishlist</a></li>
                                                <li><a href="/userprofile">Profile Page</a></li>
                                                <!-- <li><a href="account-address.html">Contact / Shipping Address</a></li> -->
                                                <!-- <li><a href="account-tickets.html">My Tickets</a></li>
                                                <li><a href="account-single-ticket.html">Single Ticket</a></li> -->
                                            </ul>
                                        </li>
                                        
                                        
                                        <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="/shop">HOODIES</a></li>
                                                <li><a href="/shop">NORMAL T-SHIRTS</a></li>
                                                <li><a href="/fullsleeve">FULL SLEEVE</a></li>
                                                <li><a href="/shop">OVERSIZED T-SHIRTS</a></li>
                                                <li><a href="/shop">OVERSIZED FULLSLEEVE</a></li>
                                            </ul>
                                        </li>
                                       
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- attribute navigation -->
                                    <div class="attr-nav">
                                        <ul>
                                            <li class="dropdown me-3 me-lg-0">
                                                <a href="/listcart" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                    <i class="ti-bag"></i>
                                                    <span class="badge bg-primary">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">                                                   
                                                    
                                                    <li class="total bg-primary">
                                                       
                                                        <a href="/listcart" class="butn-style2 small white float-end w-auto"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="heart"> <a href="/whishlist"><i class="ti-heart"></i></a></li>                                          
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </header>

        <!-- BANNER
        ================================================== -->
       
        
    
        <section class="full-screen p-0 top-position">
            <div class="slider-fade2 owl-carousel owl-theme w-100">
                <% BannerData.forEach((value,index)=>{%>
                <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0" data-background="/assets/banner/<%=value.bannerImage %>">
                    <div class="container h-100 d-table">
                        <div class="row d-table-cell align-middle h-100">
                            <div class="col-lg-5">
                                <h3 class="alt-font mb-2 h6 text-uppercase"><%=value.discription  %></h3>
                                <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9"style="color: aliceblue;">NEW ARRIVALS</h1>
                                <a href="/shop" class="butn-style4">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <%})%>   
            </div>
        </section>
       
        <!-- CATEGORY
        ================================================== -->
       

        <!-- BY STYLE
        ================================================== -->
        <section class="bg-trend">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 mb-1-9 mb-lg-0">
                        <div class="pe-xl-6">
                            <h2 class="h1 mb-1-6 mb-lg-1-9">Shop <br>By Style</h2>
                            <p class="mb-1-6 mb-lg-1-9">Come dress yourself in love let the journey begins</p>
                            <a href="/productdetail" class="text-uppercase small font-weight-600 border-bottom border-color-black text-dark">All Categories</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="owl-carousel owl-theme by-trend-carousel text-center">
                            <% if (category==null) {%>
                                <h6 style="color: red;">Oops category is empty</h6>
                           <% }else{ %>
                            <% category.forEach((value,index)=>{%>
                                <a href="/shopfullsleeve/?id=<%=value._id%>">
                                <img src="/category-img/<%=value.image %>" alt="...">
                                <h3 class="h5 mb-0 mt-3"><%= value.name%></h3>
                            </a>
                           <% })
                         } %>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FEATURED PRODUCTS
        ================================================== -->
        <section>
            <div class="container">
                <div class="text-center mb-1-9 mb-lg-2-3">
                    <h2 class="mb-0">Featured Products</h2>
                </div>
                <div class="row justify-content-center">
                    <%if (products==null) {%>
                        <h6>Oops there is no products</h6>
                   <% }else{%>
                    <% products.forEach((value,index)=>{%>
                    <div class="col-sm-6 col-lg-3 mb-4">
                        <div class="product-grid-four">
                            <div class="product-img">
                                <a href="/productdetail?id=<%= value._id %>"><img style="width: 100%;" src="/img/<%=value.image[0] %>" alt="..."></a>
                                <span class="product-label bg-primary">new</span>
                                <% if (value.quantity>0) {%>
                                    
                              
                                <div class="action-butn">
                                    <a onclick="addToCart('<%=value._id%>')"><i class="ti-shopping-cart"></i></a>
                                    
                                    <a onclick="addtowhishlist('<%=value._id%>')"><i class="ti-heart"></i></a>
                                </div>
                                <% }else{%>
                                    <p>OUT OF STOCK</p>
                                <%} %>
                            </div>
                            <h3 class="h6"><a href="/user/productdetail?id=<%= value._id %>"><%= value.productname %></a></h3>
                            <span class="font-weight-600 display-29 text-muted"><%= value.price%></span>
                        </div>
                    </div>
                    <%})
                    }%>
                </div>
            </div>
        </section>
        

        <!-- OFFER BANNER
        ================================================== -->

        <section class="pt-0">
            <div class="container-fluid px-lg-1-9 px-xl-6 px-xxl-13">
                <div class="row mt-n4">
                    <% if (typeof Middlebanner!=='undifined') {%>
                        
                  
                    <% Middlebanner.forEach((value,index)=>{%>
                    <div class="col-md-6 mt-4">
                        <div class="offer-style02">
                            <img src="/assets/banner/<%=value.bannerImage %>" alt="...">
                            <div class="text-center position-absolute top-10 start-0 end-0">
                                <span class="text-uppercase font-weight-500 text-white letter-spacing-2 d-block mb-2 mb-sm-3">new arrivals</span>
                                <h2 class="h1 mb-2 text-white">Featured Deals</h2>
                                <p class="text-white font-weight-600 display-29 d-none d-sm-block">Save on what's hot right now.</p>
                                <a href="/shop" class="butn-style4 sm">Shop Now<span></span></a>
                            </div>
                        </div>
                    </div>
                    <%})%>  
              <%  }else{%>

                <h4>HEY GUYS NEW ARRIVALS AND OFFERS COMES SOON </h4>

             <% } %>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
     

        <!-- LOOKBOOk
        ================================================== -->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <% if ( lastbanner!==null) {%>

                    <% lastbanner.forEach((value,index)=>{%>
                    <div class="col-lg-7 mb-1-9 mb-lg-0">
                        <div class="pe-xl-1-9 position-relative">
                            <img src="/assets/banner/<%=value.bannerImage %>" alt="...">
                           
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ps-xl-6">
                            <h2 class="h1 w-xl-80 mb-1-6 mb-lg-1-9"><%=value.discription  %></h2>
                            <p class="mb-1-6 mb-lg-1-9">From curvaceous armchairs finished in sumptuous soft velvet, to statement art deco inspired console tables, bar trolleys and stylish side tables</p>
                            <a href="/shop" class="text-uppercase small border-bottom border-color-black text-dark">shop the look</a>
                        </div>
                    </div>
                    <%})%>  
                    <%  }else{%>
                        <h4 style="color: green;">HEY GUYS NEW ARRIVALS AND OFFERS COMES SOON </h4>

                        <% } %>
                </div>
            </div>
        </section>

       

        <!-- FOOTER
        ================================================== -->
        <footer class="pb-0 pt-6 pt-md-10 pt-lg-13 classic-footer">
            <div class="container">
                <div class="row mb-6 mb-md-10">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <h2>Newsletter</h2>
                        <p class="mb-0">Get timely updates from your favorite products</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="subscribe-style3">
                            <form>
                                <div class="form-group">
                                    <input type="email" placeholder="Enter your email..." id="email" class="form-control">
                                    <a href="#" class="subscribe-butn">Subscribe<span></span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center border-top py-1-9">
                    <div class="col-md-5 col-lg-4 col-xl-3 mb-4 mb-lg-0 text-center text-md-start">
                        <div>
                            <ul class="list-style-17">
                                <li><img src="user/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="user/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-6 text-center text-md-end text-lg-center mb-4 mb-lg-0">
                        <p class="mb-0 font-weight-600">&copy; <span class="current-year"></span>UL<a href="https://www.chitrakootweb.com/" target="_blank"></a></p>
                    </div>
                    <div class="col-lg-3 text-center text-lg-end">
                        <ul class="social-icon-style2 mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </footer>
        
            <script>
        function addtowhishlist(prodId) {
            console.log('hi');
            $.ajax({
                url: '/addtowhishlist',
                data: {
                    productId: prodId
                },
                method: 'post',
                success: (res) => {
                    if(res.status){
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Your product added to wishlist',
                            showConfirmButton: false,
                            timer: 1000
                        })

                    }else{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Item already exist',
                           
                          
                        })

                    }   
                }
            })
        }

    </script>
    <script>
            function addToCart(prodId){
              
                $.ajax({
                    url:'/add-to-cart',
                    data:{
                        productId:prodId
                    },
                    method:'post',
                    success:(res)=>{
                        if (res) {
                            swal.fire({
                                position:'center',
                                icon:'success',
                                title:'your product added to cart',
                                showConfirmButton: false,
                                timer:1000
                            })
                        }else{
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Item already exist',
                           
                          
                        })
                        }
                    }
                })
               
            }
        </script>

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/user/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/user/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/user/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/user/js/core.min.js"></script>
   
    <!-- custom scripts -->
    <script src="/user/js/main.js"></script>
	
	<!-- all js include end -->

</body>

</html>